<div class="image">
    <div class="mc">
        <mat-card class="mat-card1">
<div class="container">
    <div *ngIf = "userService.miseAJour" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" (click)="close()">&times;</button>
        <strong>Modifications sauvegardées!</strong> 
      </div>
    <h3>Bienvenue {{nomMedecin}} {{prenomMedecin}} voici votre liste des rendez-vous</h3>
    <br>
    <br>



        <mat-form-field appearance="outline">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche" id="recherche">
        </mat-form-field>
      
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      
          
          <ng-container matColumnDef="Nom et Prénom du patient">
            <th mat-header-cell *matHeaderCellDef>Nom et Prénom</th>
            <td mat-cell *matCellDef="let element"> {{element.nom}} {{element.prenom}}</td>
          </ng-container>
      
          
         
      
          <ng-container matColumnDef="Téléphone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="telephone">Téléphone</th>
            <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
          </ng-container>
          
          <ng-container matColumnDef="carte vitale">
            <th mat-header-cell *matHeaderCellDef>Carte vitale</th>
            <td mat-cell *matCellDef="let element"> {{element.cv}} </td>
          </ng-container>

          <ng-container matColumnDef="Date et heure du rendez-vous">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="date">Date du rendez-vous</th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>

          <ng-container matColumnDef="Etat">
            <th mat-header-cell *matHeaderCellDef>Etat du rendez-vous</th>
            <td mat-cell *matCellDef="let element"> {{element.etat}} </td>
          </ng-container>



          <ng-container matColumnDef="Appel video">
              <th mat-header-cell *matHeaderCellDef>Appel video</th>
              <td mat-cell *matCellDef="let element"> 
                <!-- <button (click)="mm()" class="btn btn-primary">A</button> -->
                <button   mat-button color="primary" (click)="pageAppelVideo(element.id)"  *ngIf = "!element.jourj" id="appelVideo{{element.id}}" disabled><mat-icon aria-hidden="false" aria-label="Example home icon"  >video_call</mat-icon></button>
                <button   mat-button color="primary" (click)="pageAppelVideo(element.id)"  *ngIf = "element.jourj" ><mat-icon aria-hidden="false" aria-label="Example home icon"  >video_call</mat-icon></button>
              </td>
           </ng-container>


          

          <ng-container matColumnDef="dossier medical">
                <th mat-header-cell *matHeaderCellDef>Dossier medical</th>
                <td mat-cell *matCellDef="let element">
                  <!-- <button (click)="mm()" class="btn btn-primary">T</button> -->
                  <button mat-button (click)="mm()" id="pdf{{element.id}}"><mat-icon aria-hidden="false" aria-label="Example home icon"  >picture_as_pdf</mat-icon></button>
                </td>
          </ng-container>

          <ng-container matColumnDef="Analyse">
              <th mat-header-cell *matHeaderCellDef>Analyse</th>
              <td mat-cell *matCellDef="let element">
                <!-- <button (click)="mm()" class="btn btn-primary">C</button> -->
                <button   mat-button  (click)="pageAppelVideo(element.id)"  *ngIf = "!element.jourj" id="analyse{{element.id}}" disabled><mat-icon aria-hidden="false" aria-label="Example home icon"  >picture_as_pdf</mat-icon></button>
              <button   mat-button  (click)="pageAppelVideo(element.id)"  *ngIf = "element.jourj" id="analyse{{element.id}}"><mat-icon aria-hidden="false" aria-label="Example home icon"  >picture_as_pdf</mat-icon></button>
            
              </td>
            </ng-container>

          <ng-container matColumnDef="Facture">
            <th mat-header-cell *matHeaderCellDef>Facture</th>
            <td mat-cell *matCellDef="let element"> 
              <!-- <button (click)="mm()" class="btn btn-primary">A</button> -->
              <button   mat-button  (click)="pageAppelVideo(element.id)">
                <mat-icon aria-hidden="false" aria-label="Example home icon"  >picture_as_pdf</mat-icon>
              </button>
            </td>
         </ng-container>

         <ng-container matColumnDef="Ordonnance">
            <th mat-header-cell *matHeaderCellDef>Ordonnance</th>
            <td mat-cell *matCellDef="let element"> 
              <!-- <button (click)="mm()" class="btn btn-primary">A</button> -->
              <button   mat-button color="primary" (click)="pageAppelVideo(element.id)"  *ngIf = "!element.jourj" id="Ordonnance{{element.id}}" disabled><mat-icon aria-hidden="false" aria-label="Example home icon"  >create</mat-icon></button>
              <button   mat-button color="primary" (click)="pageAppelVideo(element.id)"  *ngIf = "element.jourj" id="Ordonnance{{element.id}}"><mat-icon aria-hidden="false" aria-label="Example home icon"  >create</mat-icon></button>
            </td>
         </ng-container>


      
         <!-- <ng-container matColumnDef="Appel video">
                <th mat-header-cell *matHeaderCellDef>Appel video</th>
                <td mat-cell *matCellDef="let element"><button (click)="mm()" class="btn btn-primary">Appeler/button></td>
          </ng-container> -->
          
         
      
         
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      
      </div>
      </mat-card>
      </div>
    </div>
      
