table {
    width: 120%;
    
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 120%;
   
  }
  
  td, th {
    width: 10%;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .container > * {
      margin-top: 1%;
      margin-left:-10%;
    
  }

  .image{
    margin-top: -4%;
    height:90em; 
    background-size:cover;
    width:138em;
    margin-left: -412px;
    
    background-image:url('C:\Users\USER 7\Desktop\bg.jpg');
    background-position:10% 10%;
  }
  .mc{
    margin-left: 10%;
    margin-right: 10%;

    padding-top: 7%;
   
  } 