<div class="image">
        <div class="mc">
            <mat-card class="mat-card1">
<div class="gestionErreur">
    <div *ngIf = "erreurManipulation" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" (click)="close2()">&times;</button>
        <strong>Erreur! Vous ne pouvez pas modifié ou supprimé un rendez-vous!</strong> Veuillez contacter l'administrateur
    </div>
    <div *ngIf = "renitialisation">
        <h4>Rénitialisation du calendrier</h4>
        <mat-progress-bar  mode="query"></mat-progress-bar>
    </div>
    <div *ngIf = "userService.MessageBienvenue" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" (click)="close()">&times;</button>
            <strong>Bienvenue!</strong> Votre Compte a été créé avec succès!
    </div>
    <div *ngIf = "eventadded || eventdeleted || eventupdated" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" (click)="closeEvent()">&times;</button>
        <strong>Modifications validées!</strong> <div *ngIf = "eventadded">{{nbeventadded}} événement(s) ajouté(s)</div> 
        <div *ngIf = "eventupdated">{{nbeventupdated}} événement(s) modifié(s)</div>
        <div *ngIf = "eventdeleted">{{nbeventdeleted}} événement(s) supprimé(s)</div>
</div>

</div>

<div class="control-section">
    
    
        <div class=" content-wrapper">
            <ejs-schedule #schedule height='650px' [(selectedDate)]="selectedDate" [eventSettings]="eventSettings" startHour='07:00'  >
            </ejs-schedule>
        </div>
        <!-- <div class="col-lg-3 property-section">
                
            <div class="property-panel-section">
                <div class="property-panel-header">Properties</div>
                <div class="property-panel-content">
                    <div id="property" class="property-panel-table" title="Properties">
                        <table id="property" title="Properties" style="width: 100%" >
                            <tbody>
                                <tr style="height: 50px">
                                    <td style="width: 30%">
                                        <div> Current Date
                                        </div>
                                    </td>
                                    <td style="width: 70%;" >
                                       
                                        <div>
                                               
                                            <ejs-datepicker #datepicker [(value)]='selectedDate' [showClearButton]=false></ejs-datepicker>
                                           
                                        
                                        </div>
                                    </td>
                                </tr>
                                
                            </tbody>

                        </table>
                        
                    </div>
                </div>
            </div>
            
        </div>
         -->
    
    </div>
    <div id="button"><button class="button"mat-raised-button  color="primary" (click)="afficher()" >Valider</button></div>
    
</mat-card>
</div>
</div>