
.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
      margin-top: 1%;
      margin-left: 20%;
    width: 50%;
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
}

.control-section{
  margin-top: 4%
}

.button{
  margin-left: 32%;
   
  margin-top: 5%;

  width: 30%;

}
.e-schedule .e-month-view .e-appointment {
  background: #3fb59f;
}

.image{
  margin-top: -4%;
  height:70em; 
  background-size:cover;
  width:138em;
  margin-left: -412px;
  
  background-image:url('C:\Users\USER 7\Desktop\bg.jpg');
  background-position:10% 10%;
}
.mc{
  margin-left: 30%;
  margin-right: 30%;
  
  padding-top: 3%;
 
} 