.example-container {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
  }
  
  .example-container > * {
      margin-top: 1%;
      margin-left: 20%;
    width: 50%;
  }
 .mc{
    margin-left: 25%;
    margin-right: 25%;

    padding-top: 10%;
   
  } 
  .image{
    margin-top: -4%;
    height:65em; 
    background-size:cover;
    width:138em;
    margin-left: -412px;
    
    background-image:url('C:\Users\USER 7\Desktop\connexion.jpg');
    background-position:10% 10%;
  }
 