<!-- <div class="image"> -->
<div *ngIf="isLoggedIn; else loggedOut">
  Logged in as {{roles}}.
</div>

<!-- <ng-template #loggedOut> -->

  
  <!-- <div class = "row col-sm-6" style = "max-width:350px;">
    <form name = "form" (ngSubmit) = "f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class = "form-group">
        <label for="username">Username</label>
        <input type = "text" class = "form-control" name = "username" [(ngModel)] = "form.username" #username = "ngModel" required />
        <div *ngIf = "f.submitted && username.invalid">
          <div *ngIf = "username.errors.required"> Username is required</div>
        </div>
      </div>

      <div class = "form-group">
          <label for="password">Password</label>
          <input type = "password" class = "form-control" name = "password" [(ngModel)] = "form.password" #password = "ngModel" required minlength="6" />
          <div *ngIf = "f.submitted && password.invalid">
            <div *ngIf = "password.errors.required"> Password is required</div>
            <div *ngIf = "password.errors.minlength"> Password must be at least 6 characters</div>
          </div>
        </div>

        <div class = "form-group">
            <button class = "btn btn-primary">Login</button>
            <div *ngIf = "f.submitted && isLoginFailed" class = "alert alert-danger">
              Login failed : {{errorMessage}}
            </div>
          </div>
    </form>
    <hr />
    <p>Don't have an account ?</p>
    <a href = "signup" class  = "btn btn-success"> Sign Up</a>
  </div> -->

  <div class="image">
      <div class="mc">
      <mat-card class="mat-card1">
  <div class="example-container">
      
    <h2>Connexion</h2>
    <div *ngIf = "EmailNotFound" class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" (click)="close()">&times;</button>
      <strong>Erreur!</strong> Email inexistant !
    </div>
    <div *ngIf = "wrongPassword" class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" (click)="close()">&times;</button>
      <strong>Erreur!</strong> Mot de passe incorrect !
    </div>
  <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email"  [(ngModel)]="form.email" required>
     <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput placeholder="Mot de passe" [type]="hide ? 'password' : 'text'" [(ngModel)]="form.password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

    <button mat-raised-button color="primary" (click)="Connexion()">Se Connecter</button>
  
  </div>
</mat-card>
</div>
  </div>
<!-- </ng-template> -->

<!-- </div> -->