<!-- <nav class = "navbar navbar-inverse">
  <div class = "container-fluid">
    <div class = "navbar-header">
      <a class = "navbar-brand" href = "#"> ClickToDoctor</a>
    </div>
    <ul class = "nav navbar-nav" routerLinkActive= "active">
      <li class = "nav-item"><a class = "nav-link" routerLink = "home"> Home</a></li>
      <li *ngIf = "authority === 'admin'" class = "nav-item"><a class = "nav-link" routerLink = "admin"> Espace Admin</a></li>
      <li *ngIf = "authority === 'medecin'" class = "nav-item"><a class = "nav-link" routerLink = "medecin"> Espace Medecin</a></li>
      <li *ngIf = "authority === 'patient'" class = "nav-item"><a class = "nav-link" routerLink = "patient"> Espace Patient</a></li>
      <li *ngIf = "!authority && !isMedecin" class = "nav-item"><a class = "nav-link" routerLink = "auth/login"> Login</a></li>
      <li *ngIf = "!authority && !isMedecin" class = "nav-item"><a class = "nav-link" routerLink = "/test"> Inscription</a></li>
      <li *ngIf = "isMedecin" class = "nav-item"><a class = "nav-link"  routerLink = "auth/login" (click)="logOut()"> Logout</a></li>
      <li *ngIf = "isMedecin" class = "nav-item"><a class = "nav-link" routerLink = "auth/login" (click)="logOut()"> <mat-icon aria-hidden="false" aria-label="Example home icon" >account_circle</mat-icon></a></li>
     
      
    </ul>
   
    
  </div>
  
 

</nav> -->


<nav class = "navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>     -->
      <a class = "navbar-brand" href = "#"> ClickToDoctor</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <!-- <a class="navbar-brand" href="index.html"><img src="Images/logo.png" alt="logo"></a> -->
          <li class = "nav-item"><a class = "nav-link" routerLink = "home"> Home</a></li>
          <li  *ngIf = "userService.isMedecin" class = "nav-item"><a class = "nav-link" routerLink = "/espaceMedecin">Mon espace</a></li>
          <li  *ngIf = "userService.isMedecin" class = "nav-item"><a class = "nav-link" routerLink = "/calendrier2">Mon calendrier</a></li>
          <li *ngIf = "!authority && !userService.isMedecin" class = "nav-item">
            <a class = "nav-link"  [matMenuTriggerFor]="menu1"> Inscription</a>
              <mat-menu #menu1="matMenu">
                <button mat-menu-item (click)="pageInscription()">S’inscrire en tant que médecin</button>
                <button mat-menu-item (click)="kk()">S’inscrire en tant que patient</button>
              </mat-menu>
          </li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-center">
          <li class = "nav-item"><a class = "nav-link" routerLink = "home"> Home</a></li>
                      <li><a href="about.html"><span>ABOUT US</span></a></li>
                      <li><a href="about.html"><span>PRODUCTS</span></a></li>
                      <li><a href="about.html"><span>INSPIRATION</span></a></li>
                      <li><a href="contact.html"><span>CONTACT</span></a></li>
      </ul> -->
      <ul class="nav navbar-nav navbar-right">
                   
                 
                  <li *ngIf = "!authority && !userService.isMedecin" class = "nav-item"><a class = "nav-link" routerLink = "auth/login"> Se Connecter</a></li>
                  <!-- <li *ngIf = "isMedecin" class = "nav-item"><a class = "nav-link"  routerLink = "auth/login" (click)="logOut()"> Déconnexion</a></li> -->
                  <li *ngIf = "userService.isMedecin" class = "nav-item">
                      <a class = "nav-link"   [matMenuTriggerFor]="menu3">
                          <mat-icon matBadge="0" matBadgeColor="warn">notifications</mat-icon>
                       </a>
                       <mat-menu #menu3="matMenu">
                           <button mat-menu-item (click)="cc()">Vous n'avez aucune notification </button>
                           
                         </mat-menu>
                     </li>

                   <li *ngIf = "userService.isMedecin" class = "nav-item">
                     <a class = "nav-link"   [matMenuTriggerFor]="menu">
                       <mat-icon aria-hidden="false" aria-label="Example home icon" >account_circle</mat-icon>
                      </a>
                      <mat-menu #menu="matMenu">
                          <button mat-menu-item (click)="PagemodifierCompte()">Modifier le Compte </button>
                          <button mat-menu-item (click)="logOut()">Déconnexion</button>
                        </mat-menu>
                    </li>
                    
                   
              
      </ul>
    </div>
  </nav>

<div class = "container">
  <router-outlet></router-outlet>
</div>