@media (min-width: 768px) {
    .navbar-nav.navbar-center {
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
    }
  }
  
  nav .secondary-nav {
      float: right;
      margin-top: 30px;
      margin-left: 30px;
      padding-right: 15px;
  }