<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

<div class="image">
    <div class="mc">
    <mat-card class="mat-card1">
  <form [formGroup]="registerForm" (ngSubmit)="EnregistrerMedecin()" class="example-container">
      <h3>Inscription</h3>
      <br><br>
      <div *ngIf = "erreurConfirmationMdp" class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" (click)="close()">&times;</button>
          <strong>Erreur!</strong> Veuillez vérifier la confirmation de votre mot de passe!
        </div>
  <mat-form-field appearance="outline">
      <mat-label>Nom</mat-label>
    <input matInput placeholder="Nom"  [(ngModel)]="registerForm.Nom" id="nom" formControlName="Nom"  [ngClass]="{ 'is-invalid': submitted && f.Nom.errors }">
    <mat-error *ngIf="f.Nom.errors">Le nom est obligatoire</mat-error>
  </mat-form-field>

  
  <mat-form-field appearance="outline">
          <mat-label>Prenom</mat-label>
        <input matInput placeholder="Prenom" [(ngModel)]="registerForm.Prenom" id="prenom" formControlName="Prenom"  [ngClass]="{ 'is-invalid': submitted && f.Prenom.errors }" >
        <mat-error *ngIf="f.Prenom.errors">Le prénom est obligatoire</mat-error>     
      </mat-form-field>


   <mat-form-field appearance="outline">
        <mat-label>Telephone</mat-label>
          <input matInput   placeholder="Numero de téléphone" [(ngModel)]="registerForm.Telephone" id="telephone" formControlName="Telephone"  [ngClass]="{ 'is-invalid': submitted && f.Telephone.errors }">
          <mat-icon matSuffix>phone</mat-icon>
          <mat-error *ngIf="f.Telephone.errors">Le numéro de téléphone est obligatoire</mat-error>
   </mat-form-field>

   <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email"  [(ngModel)]="registerForm.email" id="email" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
     <mat-error *ngIf="email.invalid">Email invalide</mat-error>
     <mat-error *ngIf="f.email.errors">Ce champ est obligatoire</mat-error>
    </mat-form-field>
   

    <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput placeholder="Mot de passe" [type]="hide ? 'password' : 'text'" [(ngModel)]="registerForm.motdepasse" id="motdepasse" formControlName="motdepasse"  [ngClass]="{ 'is-invalid': submitted && f.motdepasse.errors }">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="f.motdepasse.errors">Ce champ est obligatoire</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Confirmer mot de passe</mat-label>
        <input matInput placeholder="Confirmer mot de passe" [type]="hide ? 'password' : 'text'" 
        [(ngModel)]="registerForm.confirmermotdepasse" id="confirmermotdepasse" formControlName="confirmermotdepasse" 
         [ngClass]="{ 'is-invalid': submitted && f.confirmermotdepasse.errors }" (blur)="verifierMotDePasse(registerForm.motdepasse,registerForm.confirmermotdepasse)">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="f.confirmermotdepasse.errors">Ce champ est obligatoire</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>N-RPPS</mat-label>
      <input matInput placeholder="N-RPPS" [(ngModel)]="registerForm.nrpps" id="nrpps" formControlName="nrpps"  [ngClass]="{ 'is-invalid': submitted && f.nrpps.errors }">
      <mat-error *ngIf="f.nrpps.errors">Ce champ est obligatoire</mat-error>
      </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>N-ADELI</mat-label>
      <input matInput placeholder="N-ADELI" [(ngModel)]="registerForm.nadeli" id="nadeli" formControlName="adeli"  [ngClass]="{ 'is-invalid': submitted && f.adeli.errors }">
      <mat-error *ngIf="f.adeli.errors">Ce champ est obligatoire</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Spécialité(s)</mat-label>
        <mat-select placeholder="Spécialité(s)" [formControl]="specialites" multiple [(ngModel)]="specialite" id="specialite">
          <mat-select-trigger>
            {{specialites.value ? specialites.value[0] : ''}}
            <span *ngIf="specialites.value?.length > 1" class="example-additional-selection">
              (+{{specialites.value.length - 1}} {{specialites.value?.length === 2 ? 'autre' : 'autres'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let spec of SpecialiteList" [value]="spec.nomSpecialite" >{{spec.nomSpecialite}}</mat-option>
        </mat-select>
      </mat-form-field>

     

      <button mat-raised-button color="primary"  id="terminer" disabled={{mdpErreur}}>Terminer</button>
    </form>
    </mat-card>
</div>
</div>
