.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
      margin-top: 0%;
      margin-left: 20%;
    width: 50%;
  }

  .mc{
    margin-left: 32%;
    margin-right: 32%;

    padding-top: 2%;
   
  } 
  .image{
    margin-top: -4%;
    height:65em; 
    background-size:cover;
    width:138em;
    margin-left: -412px;
    
    background-image:url('C:\Users\USER 7\Desktop\bg.jpg');
    background-position:10% 10%;
  }