<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
<div class="image">
    <div class="mc">
    <mat-card class="mat-card1">
<div *ngIf = "firstPart" class="example-container">

        <h3>Modifier mes informations personnelles (1/2)</h3>
        <div *ngIf = "messageErreur" class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" (click)="close()">&times;</button>
          <strong>Erreur!</strong> Vérifier la validité de vos champs modifiés!
        </div>

        <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
          <input matInput placeholder="Nom"  [(ngModel)]="user.medecin.nom" id="nom" required>
        </mat-form-field>
      
        
        <mat-form-field appearance="outline">
                <mat-label>Prenom</mat-label>
              <input matInput placeholder="Prenom"  [(ngModel)]="user.medecin.prenom" id="prenom" required>
            </mat-form-field>
      
         <mat-form-field appearance="outline">
              <mat-label>Telephone</mat-label>
                <input matInput   placeholder="Numero de téléphone"  [(ngModel)]="user.medecin.tel" id="telephone" required>
                <mat-icon matSuffix>phone</mat-icon>
                
         </mat-form-field>
      
         <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email"   [(ngModel)]="user.email" id="email" required>
           <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
          </mat-form-field>
         
          <mat-form-field appearance="outline">
              <mat-label>N-RPPS</mat-label>
            <input matInput placeholder="N-RPPS"  [(ngModel)]="user.medecin.rpps" id="nrpps" required>
          </mat-form-field>
      
          <mat-form-field appearance="outline">
              <mat-label>N-ADELI</mat-label>
            <input matInput placeholder="N-ADELI"  [(ngModel)]="user.medecin.adeli" id="nadeli" required>
          </mat-form-field>
      
          <mat-form-field appearance="outline">
              <mat-label>Spécialité(s)</mat-label>
              <mat-select placeholder="Spécialité(s)" [formControl]="specialites" multiple      [(ngModel)]="specsMedecin"  id="specialite">
              
                <mat-select-trigger>
                  {{specialites.value ? specialites.value[0] : ''}}
                  <span *ngIf="specialites.value?.length > 1" class="example-additional-selection">
                    (+{{specialites.value.length - 1}} {{specialites.value?.length === 2 ? 'autre' : 'autres'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let spec of SpecialiteList" [value]="spec.nomSpecialite">{{spec.nomSpecialite}}</mat-option>
              </mat-select>
            </mat-form-field>
      
            <mat-form-field appearance="outline">
                <input matInput placeholder="Mot de passe" [type]="hide ? 'password' : 'text'"  [(ngModel)]="user.password" id="motdepasse">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            <div >
                <button mat-button  color="warn" id="terminer" disabled>
                <mat-icon aria-hidden="false" aria-label="Example home icon"  >arrow_back_ios</mat-icon>
                Précédent
                </button>
                <button mat-button  color="primary" (click)="nextPart()" id="terminer">
                    Suivant
                    <mat-icon aria-hidden="false" aria-label="Example home icon"  >arrow_forward_ios</mat-icon>
                </button>
             </div>
</div>

<div *ngIf = "secondPart" class="example-container">

        <h3>Modifier mes informations personnelles (2/2)</h3>
        <div *ngIf = "messageErreur" class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" (click)="close()">&times;</button>
          <strong>Erreur!</strong> Vérifier la validité de vos champs modifiés!
        </div>

        <!-- <label id="example-radio-group-label">Sexe</label> -->
        <mat-label id="example-radio-group-label"  >Sexe</mat-label>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="user.medecin.sexe" id="sexe">
            <mat-radio-button class="example-radio-button" *ngFor="let sexe of sexes" [value]="sexe" >
             {{sexe}}
             </mat-radio-button>
        </mat-radio-group>

      
        <mat-form-field appearance="outline">
            <mat-label>Date de naissance</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Choisir une date" id="datediplome" [(ngModel)]="user.medecin.dateDeNaissance">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
        

        <mat-form-field appearance="outline">
            <mat-label>Adresse</mat-label>
          <input matInput placeholder="Adresse"  [(ngModel)]="user.medecin.adresse" id="adresse" >
        </mat-form-field>


        
        <mat-form-field appearance="outline">
            <mat-label>Région</mat-label>
            <mat-select id="region"  [(ngModel)]="user.medecin.region">
                <mat-option *ngFor="let region of regions" [value]="region" (blur)="afficherDepartements(region)">{{region}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
                <mat-label>Département</mat-label>
                <mat-select id="departement" [(ngModel)]="user.medecin.departement">
                    <mat-option *ngFor="let dept of departementsParRegion" [value]="dept" (blur)="afficherCodepostal(dept)"  >{{dept}}</mat-option>
                </mat-select>
            </mat-form-field>
      
        <mat-form-field appearance="outline">
                    <mat-label>Code postal</mat-label>
                    <mat-select id="codepostal" [(ngModel)]="user.medecin.codePostal">
                        <mat-option *ngFor="let codepostal of codesPostalParDepartement" [value]="codepostal" >{{codepostal}}</mat-option>
                    </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
                <mat-label>Date d'obtention de votre diplome</mat-label>
                <input matInput [matDatepicker]="picker2" placeholder="Choisir une date" id="datediplome" [(ngModel)]="user.medecin.datePriseDiplome">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
                <mat-label>Université</mat-label>
              <input matInput placeholder="Université"  id="universite" [(ngModel)]="user.medecin.universite">
            </mat-form-field>
      
        
            <div >
                <button mat-button  color="warn"  id="terminer" (click)="previousPart()">
                   
                <mat-icon aria-hidden="false" aria-label="Example home icon"  >arrow_back_ios</mat-icon>
                Précédent
                </button>
                <button mat-button color="primary" (click)="nextPart()" id="terminer" disabled>
                    Suivant
                    <mat-icon aria-hidden="false" aria-label="Example home icon"  >arrow_forward_ios</mat-icon>
                </button>
                <button mat-raised-button color="primary" (click)="validerModification()">Valider</button>
             </div>
</div>
</mat-card>
</div>
</div>