.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
      margin-top: 1%;
      margin-left: 10%;
    width: 80%;
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
}
.mc{
  margin-left: 32%;
  margin-right: 32%;

  padding-top: 2%;
 
} 
.image{
  margin-top: -4%;
  height:65em; 
  background-size:cover;
  width:138em;
  margin-left: -412px;
  
  background-image:url('C:\Users\USER 7\Desktop\bg.jpg');
  background-position:10% 10%;
}