

<!--<div *ngIf ="info.token; else loggedOut">
  <div *ngIf ="info.token; else loggedOut">
  <h5 class="text-primary"> Your information</h5>
  <p>
    <strong>Username : </strong> {{info.username}}<br/>
    <strong>Roles : </strong> {{info.authorities}}<br/> 
    <strong>Token : </strong> {{info.token}}<br/>  
  </p>

 <button class="btn btn-secondary" (click)="logOut()"> Logout </button>-->

  <!-- </div>

  
  <ng-template #loggedOut>
    Please login.
   </ng-template>  -->
  <div class="image">
      <!-- <mat-card>
      <div class="container">
          <h1>Hero Form</h1>
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" required>
            </div>
       
            <div class="form-group">
              <label for="alterEgo">Alter Ego</label>
              <input type="text" class="form-control" id="alterEgo">
            </div>
       
            <button type="submit" class="btn btn-success">Submit</button>
       
          </form>
      </div>
     </mat-card> -->
  </div> 
  <!-- <div [ngStyle]="{background: 'url(C:\Users\USER 7\Desktop\bg.jpg)'}"></div> -->.

