
  .image{
    margin-top: -4%;
    height:90em; 
    background-size:cover;
    width:138em;
    margin-left: -412px;
    
    background-image:url('C:\Users\USER 7\Desktop\bg.jpg');
    background-position:10% 10%;
  }
  .example-container {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
  }
  
  .example-container > * {
      margin-top: 1%;
      margin-left: 20%;
    width: 50%;
  }
