<div *ngIf = "isSignedUp; else signupForm">
  Your registration is successful , you can login now !
</div>

<ng-template #signupForm>
  <div class = "row col-sm-6" style = "max-width:350px;">
    <form name = "form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

      <div class="form-group">
        <label for="nom"> Nom :</label>
        <input type="text" class = "form-control" name = "nom" [(ngModel)] = "form.nom" #nom = "ngModel" required />
        <div *ngIf = "f.submitted && nom.invalid">
          <div *ngIf = "nom.errors.required"> le nom est obligatoire !</div>
          <div *ngIf = "nom.errors.minlength"> le nom doit contenir au moins 3 caractères !</div>
        </div> 
      </div>

      <div class="form-group">
          <label for="prenom"> Prenom :</label>
          <input type="text" class = "form-control" name = "prenom" [(ngModel)] = "form.prenom" #prenom = "ngModel" required />
          <div *ngIf = "f.submitted && prenom.invalid">
            <div *ngIf = "prenom.errors.required"> le prenom est obligatoire !</div>
            <div *ngIf = "prenom.errors.minlength"> le prenom doit contenir au moins 3 caractères !</div>
          </div> 
      </div>

      <div class="form-group">
          <label for="username"> Pseudo :</label>
          <input type="text" class = "form-control" name = "username" [(ngModel)] = "form.username" #username = "ngModel" required />
          <div *ngIf = "f.submitted && username.invalid">
            <div *ngIf = "username.errors.required"> le pseudo est obligatoire !</div>
            <div *ngIf = "username.errors.minlength"> le pseudo doit contenir au moins 3 caractères !</div>
          </div> 
      </div>

      <div class="form-group">
          <label for="email"> Email :</label>
          <input type="text" class = "form-control" name = "email" [(ngModel)] = "form.email" #email = "ngModel" required />
          <div *ngIf = "f.submitted && email.invalid">
            <div *ngIf = "email.errors.required"> l'email est obligatoire</div>
            <div *ngIf = "email.errors.email"> L'email doit être une adresse valide !</div>
          </div> 
      </div>

      <div class="form-group">
          <label for="password"> Mot de Passe :</label>
          <input type="password" class = "form-control" name = "password" [(ngModel)] = "form.password" #password = "ngModel" required minlength="6" />
          <div *ngIf = "f.submitted && password.invalid">
            <div *ngIf = "password.errors.required"> le mot de passe est obligatoire</div>
            <div *ngIf = "password.errors.minlength"> le mot de passe doit contenir au moins 6 caractères !</div>
          </div> 
      </div>

      <div class="form-group">
          <label for="matchingPassword"> Confirmation du mot de Passe :</label>
          <input type="password" class = "form-control" name = "matchingPassword" [(ngModel)] = "form.matchingPassword" #matchingPassword = "ngModel" required minlength="6" />
          <div *ngIf = "f.submitted && matchingPassword.invalid">
            <div *ngIf = "matchingPassword.errors.required"> Veuillez confirmer votre mot de passe !</div>
            <div *ngIf = "matchingPassword.errors.minlength"> le mot de passe doit contenir au moins 6 caractères !</div>
          </div> 
      </div>
      <div class="form-group">
        <label for="specs"> Spécialités :</label>
        <select multiple class = "form-control" name="specs" [(ngModel)]= "form.specs" #specs = "ngModel" required>
          <option *ngFor='let spec of allSpecialites' [ngValue]='spec'>
              {{ spec }}
          </option>
        </select>
        <div *ngIf = "f.submitted && specs.invalid">
            <div *ngIf = "specs.errors.required"> Veuillez saisir au moins une spécialité !</div>
          </div>  
    </div>
      <div class = "form-group">
        <button class = "btn btn-primary"> Register </button>
        <div *ngIf = "f.submitted && isSignedUp" class = "alert alert-warning">
          Signup failed ! <br/> {{errorMessage}}
        </div>
      </div>

    </form>
  </div>


</ng-template>
